.nav {
    margin-left: 3rem;
    
    a {
        display: block;
        margin: 1.5rem 0 0;
        text-decoration: none;
       
        &.section {
            color: $brand-green;
            &:hover,
            &.current {
                font-weight: 500;
            }
        }
       
        &.subsection {
            color: initial;
            margin: 0;
            &:hover,
            &.current {
                font-weight: 500;
            }
        }
    }
}