.sidebar {
    height: 100vh;
    width: $sidebarwidth;
    float: left;
    position: absolute;
    overflow: hidden;
    left: 0;
    transition: left 200ms linear;
    .logo {
        cursor: pointer;
        display: block;
        width: 100%;
        height: auto;
        transition: transform 300ms ease-out;
        &#logo-venice{
            transform: translateY(-100%);
        }
    }
    &.fixed {
        position: fixed;
        top: 0;
        overflow-y: scroll;
        #logo-venice {
            transform: translateY(0);
        }
    }
    .toggle {
        border: none;
        display: block;
        width: 4.4rem;
        height: 4.4rem;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        position: fixed;
        top: 1rem;
        left: 1rem;
        background: url('../img/menu.png') center center, white;
        background-size: 60% 60%;
        background-repeat: no-repeat;
        display: none;
        transition: left 200ms linear;
        cursor: pointer;
        &:focus {
            outline: 0;
        }
        &.open {
            left: 18rem;
        }
    }
}