.sidebar {
    height: 100vh;
    width: $sidebarwidth;
    float: left;
    position: absolute;
    overflow: hidden;
    left: 0;
    transition: all 200ms linear;
    &.hidden {
        left: -200px;
    }
    >.logo {
        cursor: pointer;
        display: block;
        width: 100%;
        height: auto;
        transition: transform 300ms ease-out;
        &#logo-venice{
            transform: translateY(-100%);
        }
    }
    &.fixed {
        position: fixed;
        top: 0;
        overflow-y: scroll;
        #logo-venice {
            transform: translateY(0);
        }
    }
}