@media only screen and (max-width:900px) {
    .main {
        left: 0;
        width: 100%;
    }
    .sidebar {
        z-index: 6;
        position: fixed;
        background: white;
        top: 0;
        overflow-y: scroll;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        left: -200px;
        &.shown {
            left: 0;
        }
        .logo {
            &#logo-venice {
                transform: translateY(0);
            }
        }
        .toggle {
            display: block;
        }
    }
    h1 {
        font-size: 6rem;
    }
    h2 {
        &.inline {
            transform: none;
        }
    }
    .catalog-index {
        padding: 0 0 0 2rem;
    }
    .catalog-row {
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-rows: 15rem 18rem;
        height: auto;
    }
    .detail {
        grid-column-end: span 2;
    }
    img {
        max-height: 30rem;
    }
    .two-columns {
        display: flex;
        flex-direction: column;
        .column {
            min-width: 100%;
            h2 {
                &.inline {
                    transform: translateY(.5em);
                }
            }
        }
    }
    .one-column {
        ul {
            margin: 0 2rem;
        }
    }
    .full-images {
        .content {
            position: relative;
            margin: 0 1rem;
        }
        img {
            height: auto;
        }
    }
    #lookbook {
        h1,
        p {
            color: initial;
        }
    }
    #useexamples {
        h3 {
            color: initial;
        }
    }
    .cover {
        height: 50vh;
        z-index: 0;
        button {
            display: none;
        }
    }
}

@media only screen and (min-width:1500px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (min-width:1800px) {
    .content-wrapper {
        max-width: 120rem;
    }
    .full-images {
        img {
            height: 70rem;
        }
    }
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}