@media only screen and (max-width:900px) {
    h1 {
        font-size: 6rem;
    }
    h2 {
        &.inline {
            transform: none;
        }
    }
    .catalog-index {
        padding: 0 0 0 2rem;
    }
    .catalog-row {
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-rows: 15rem 18rem;
        height: auto;
    }
    .detail {
        grid-column-end: span 2;
    }
    img {
        max-height: 30rem;
    }
    .two-columns {
        display: flex;
        flex-direction: column;
        .column {
            min-width: 100%;
            h2 {
                &.inline {
                    transform: translateY(.5em);
                }
            }
        }
    }
    .full-images {
        .content {
            position: relative;
            margin: 0 1rem;
        }
        img {
            height: auto;
        }
    }
    #lookbook {
        h1,
        p {
            color: initial;
        }
    }
    #useexamples {
        h3 {
            color: initial;
        }
    }
}

@media only screen and (min-width:1500px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (min-width:1800px) {
    .content-wrapper {
        max-width: 120rem;
    }
    .full-images {
        img {
            height: 70rem;
        }
    }

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}