::selection {
    background: $brand-blue;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: $brand-blue;
    color: #fff;
    text-shadow: none;
}

::-webkit-selection {
    background: $brand-blue;
    color: #fff;
    text-shadow: none;
}