/* Webfont: Venice-Regular */

@font-face {
    font-family: 'Venice';
    src: url('../type/venice.ttf') format('truetype'); //,
    // url('../type/venice.woff') format('woff'),
    // url('../type/venice.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

h1 {
    font-family: 'Venice', sans-serif;
    text-transform: uppercase;
    font-size: 7.2rem;
    letter-spacing: .1em;
    line-height: 1.2em;
    margin: 1rem; // transform: translateY(.4em);
    // mask-image: url('../img/grit.png');
    // mask-size: auto 6rem;
    // filter: blur(.5px);
}

h2 {
    color: $brand-green;
    font-family: 'Venice', sans-serif;
    font-size: 3.6rem;
    letter-spacing: .1em;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 1rem; // transform: translateY(.4em);
    // mask-image: url('../img/grit.png');
    // mask-size: auto 6rem;
    // filter: blur(.5px);
    &.inline {
        float: left;
        margin-right: 1ch;
        transform: translateY(.9em);
    }
}

h3 {
    font-size: 1.4rem;
    line-height: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    &.inline {
        float: left;
        margin-right: 1ch;
    }
}

h4 {
    color: $brand-green;
    font-size: 1.4rem;
    line-height: 1.5em;
    text-transform: uppercase;
    margin-top: 1rem;
}

.centered {
    text-align: center;
    margin: 0 auto;
}

.small {
    font-size: 1.1rem;
}

ul {
    padding: 0 0 0 3rem;
    text-align: left;
}